build-SuDoKu_Solver-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
SuDoKu_Solver/mainwindow.cpp.autosave
SuDoKu_Solver/SuDoKu_Solver.pro.user
build-SuDoKu_Solver-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
SuDoKu_Solver/sudokusolver.h.autosave
